[user]
	name = sindrehenriksen
	email = sindrehenriksen93@gmail.com

[alias]
    c = commit
    ca = commit --amend
    cf = commit --fixup
    s = status
    sw = switch
    b = branch
    co = checkout
    l = log
    lo = log --oneline
    ps = push
    pnv = push --no-verify
    pl = pull
    d = diff
    a = add
    f = fetch
    ui = update-index
    uia = update-index --again
    as = update-index --again
    sh = stash
    r = reset
    rb = rebase
    loga = log --oneline --decorate --graph --all --color
    lom = log --oneline main..
    fd = diff-tree --no-commit-id --name-only -r
    fdpc = log --pretty=format:'%h %s%n' --name-only
    cp = cherry-pick
    track-main = b --set-upstream-to origin/main
    hide = update-index --skip-worktree
    unhide = update-index --no-skip-worktree
    unhide-all = !git ls-files -v | grep '^S' | cut -c 3- | xargs -r git update-index --no-skip-worktree

[rebase]
    autosquash = true
    autostash = true

[pull]
    rebase = false

[fetch]
    prune = true
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/dotfiles/git-hooks
