[user]
	name = sindrehenriksen
	email = sindrehenriksen93@gmail.com

[alias]
    c = commit
    s = status
    b = branch
    co = checkout
    l = log
    lo = log --oneline
    p = push
    pnv = push --no-verify
