[user]
	name = sindrehenriksen
	email = sindrehenriksen93@gmail.com

[alias]
    c = commit
    ca = commit --amend
    cf = commit --fixup
    s = status
    b = branch
    co = checkout
    l = log
    lo = log --oneline
    ps = push
    pnv = push --no-verify
    pl = pull
    d = diff
    a = add
    f = fetch
    ui = update-index
    uia = update-index --again
    sh = stash
